<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item class="key-input">
    <ion-input
      [(ngModel)]="licenseKey"
      type="text"
      placeholder="enter license key..."
    ></ion-input>
  </ion-item>

  <ion-button
    expand="full"
    color="light"
    class="login-button"
    (click)="login()"
  >
    <ion-icon slot="start" name="log-in"></ion-icon> Log In
  </ion-button>
</ion-content>
